body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	position: relative;
	background-color: #1A1A1A;
	font-family: 'Josefin Sans', sans-serif;

	@font-face {
		font-family: 'Yaniko';
		src: url('fonts/Yaniko.ttf');
	}
}



/* For mobile phones: */
@media only screen and (max-width: 992px) {
	nav {

		margin: 0;
		width: 100vw;
		height: 5vh;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;

	}

	nav {
		position: fixed;
		z-index: 100;
	}


	nav #der {
		background-color: #1A1A1A;
		height: 5vh;
		width: 100vw;
		border-bottom: 1px solid #EEEAE6;
		padding-left: 5vw;
		padding-right: 5vw;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	nav #der #logo img {
		height: 3vh;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	nav #der ul {
		display: none;
		position: absolute;
		top: 5vh;
		right: 0;
		list-style: none;
		background-color: #1A1A1A;
		width: 100vw;
		height: 100vh;
	}

	nav #der ul hr {
		rotate: -2deg;
		color: #EEEAE6;
	}

	nav #der ul li {
		padding: 50px;
	}

	nav #der ul li a {
		color: #EEEAE6;
		text-decoration: none;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 300;
		font-size: 50px;
	}

	nav #der #boton-hamburguesa {
		background-color: #1A1A1A;
		color: #EEEAE6;
		font-size: 1em;
		padding: 2px;
		border: none;
		cursor: pointer;
	}



	#contenedoriz {
		border-top: 1px solid #EEEAE6;
		width: 100vw;
		height: 5vh;
		position: absolute;
		top: 95%;
		position: fixed;
		z-index: 100;
	}

	#contenedoriz #iz {
		width: 100vw;
		height: 5vh;
		background-color: #1A1A1A;
		background-image: url(img/saraTinauT2.gif);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}




	/* ---- MAIN ----*/

	#titulo {
		padding-left: 15%;
		width: 100vw;
		height: 12vh;
		display: flex;
		align-items: flex-end;
	
	}

	#titulo div {
		rotate: -2deg;
		background-color: #EEEAE6;
		border-radius: 30px;
		width: 25vw;
		height: 4vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #1A1A1A;
	}

	#titulo div h1{
		font-size: 20px;
	}

	.container {
		padding-top: 3vh;

		color: #EEEAE6;
		display: flex;
		align-items: center;
	}

	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.container hr {
		width: 100vw;
		rotate: -2deg;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal {
		/*border: 1px solid chartreuse;*/
		width: 100vw;
	}

	.container #horizontal #vertical {
		/*border: 1px solid rgb(255, 85, 0);*/
		width: 90vw;
	
		margin-bottom:10px;
		margin-top:10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.container #horizontal .yo{
		height: 50vh;
	}
	.container #horizontal .yo2{
		height: auto;
	}


	.container .p1 {
	    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
	}

	.container #horizontal .yo {
		height: 50vh;
		background-image: url(img/sobremi.gif);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.container #horizontal .yo2 h2 {
		height: auto;
		color: #EEEAE6;
		font-family: 'Yaniko';


	}

	.container #horizontal .yo2 p {
		color: #EEEAE6;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 200;
		font-size: 20px;
		padding-left: 30px;
		padding-right: 30px;

	}

	.container #horizontal #vertical2 {
		/*border: 1px solid rgb(255, 85, 0);*/
		width: 90vw;
		
		margin-right: 5px;
		margin-top: 10px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}


	.container .p2 {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
padding-bottom: 8vh;
	}

}


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

	body,
	html {
		width: 100% !important;
		overflow-x: hidden !important;
	}

	nav {
		margin-top: 0;
		width: 6vw;
		height: 100vh;

		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	nav {
		position: fixed;
		z-index: 100;
	}

	nav #der #boton-hamburguesa {
		display: none;
	}

	nav #der #menu {
		visibility: visible;
	}

	nav #der {
		height: 100vh;
		width: 6vw;
		background-color: #1A1A1A;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-start;
		border-right: 2px solid #EEEAE6;
	}

	nav #der ul {
		visibility: visible;
		padding: 0;

		display: flex;
		flex-direction: column;
	}

	nav #der ul li {
		width: 3vw;
		height: 18vh;
		margin-bottom: 1vh;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	nav #der ul hr {
		display: none;
	}

	nav #der #logo img {
		padding-top: 40px;
		width: 4vw;
	}

	nav #der #logo img:hover {
		opacity: 50%;
		transition: 1s;
	}

	nav #der ul a {
		color: #EEEAE6;
		rotate: -90deg;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 300;
		font-size: 20px;
		white-space: nowrap;
		text-decoration: none;
	}

	nav #der ul li a:hover {
		opacity: 50%;
		transition: 1s;
	}

	nav #der .contactos {
		background-color: #EEEAE6;
		border-radius: 30px;
	}

	nav #der .contactos a {
		color: #1A1A1A;
		font-size: 20px;
	}

	nav #der .contactos:hover {
		transition: 0.3s;
		opacity: 85%;
		color: #1A1A1A;
	}

	#contenedoriz {
		display: flex;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;

	}

	#iz {
		width: 6.5vw;
		height: 100vh;
		position: fixed;
		z-index: 100;
		background-color: #1A1A1A;
		border-left: 2px solid #EEEAE6;
		background-image: url(img/saraTinauT.gif);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}



	/* ---- MAIN ----*/

	#titulo {
		padding-left: 15%;
		width: 100vw;
		height: 15vh;
		display: flex;
		align-items: center;
	}

	#titulo div {
		rotate: -2deg;
		background-color: #EEEAE6;
		border-radius: 30px;
		width: 15vw;
		height: 6vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #1A1A1A;
	}

	/**#titulo hr{
width: 100vw;
rotate: -2deg;
position: absolute;

left: 5%;
border: 1px solid  #EEEAE6;
	}*/

	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.container hr {
		width: 100vw;
		rotate: -2deg;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal {
		/*border: 1px solid chartreuse;*/
		width: 100vw;
	}

	.container #horizontal #vertical {
		/*border: 1px solid rgb(255, 85, 0);*/
		width: 43vw;
		height: 70vh;

		margin-right: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container .p1 {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}

	.container #horizontal .yo {
		background-image: url(img/sobremi.gif);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.container #horizontal .yo2 h2 {
		color: #EEEAE6;
		font-family: 'Yaniko';


	}

	.container #horizontal .yo2 p {
		color: #EEEAE6;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 200;
		font-size: 20px;
		padding-left: 30px;
		padding-right: 30px;

	}

	.container #horizontal #vertical2 {
		/*border: 1px solid rgb(255, 85, 0);*/
		width: 43vw;
		height: 42vh;
		margin-right: 5px;
		margin-top: 50px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}


	.container .p2 {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;

	}
}