body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	position: relative;
	background-color: #1A1A1A;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5em
}



/* For mobile phones: */
@media only screen and (max-width: 992px) {
	nav {
		margin: 0;
		width: 100vw;
		height: 5vh;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}

	nav {
		position: fixed;
		z-index: 100;
	}

	nav #der {
		background-color: #1A1A1A;
		height: 5vh;
		width: 100vw;
		border-bottom: 1px solid #EEEAE6;
		padding-left: 5vw;
		padding-right: 5vw;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	nav #der #logo img {
		margin-top: 0.5vh;
		height: 3vh;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	nav #der ul {
		display: none;
		position: absolute;
		top: 5vh;
		right: 0;
		list-style: none;
		background-color: #1A1A1A;
		width: 100vw;
		height: 100vh;
	}

	nav #der ul hr {
		rotate: -2deg;
		color: #EEEAE6;
	}

	nav #der ul li {
		padding: 50px;
	}

	nav #der ul li a {
		color: #EEEAE6;
		text-decoration: none;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 300;
		font-size: 2em;
	}

	nav #der #boton-hamburguesa {
		background-color: #1A1A1A;
		color: #EEEAE6;
		font-size: 1em;
		padding: 2px;
		border: none;
		cursor: pointer;
	}

	/* gif abajo*/

	#contenedoriz {
		width: 100vw;
		height: 5vh;
		position: absolute;
		top: 95%;
	}

	#contenedoriz #iz {
		border-top: 1px solid #EEEAE6;
		width: 100vw;
		height: 5vh;
		background-color: #1A1A1A;
		background-image: url(img/saraTinauT2.gif);
		position: fixed;
		z-index: 100;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}



	/* ---- MAIN ----*/

	#titulo {
		padding-top: 6vh;
		padding-left: 15%;
		width: 100vw;
		height: 15vh;

		display: flex;
		align-items: center;
	}

	#titulo div {
		rotate: -2deg;
		background-color: #EEEAE6;
		border-radius: 30px;
		padding-left: 15px;
		padding-right: 15px;
		width: auto;
		height: 5vh;
		font-size: 0.8em;

		display: flex;
		justify-content: center;
		align-items: center;
		color: #1A1A1A;
	}

	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
		margin-bottom: 7vh;
	}

	.container hr {
		width: 100vw;
		rotate: -2deg;
		border: 1px solid #EEEAE6;
	}

	/* INTRODUCCIÓN*/

	.container #horizontalINTRO {
		border: 1px solid chartreuse;
		width: 96vw;
		height: auto;
		padding-bottom: 2vh;
		padding-top: 2vh;

		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.container #horizontalINTRO #vertical {
		width: 90vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container #horizontalINTRO #vertical {
		border: 1px solid rgb(255, 85, 0);
		width: 90vw;
		height: auto;
		margin-bottom: 1vh;
		margin-top: 1vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.container #horizontalINTRO #vertical2 {
		margin-bottom: 1vh;
		margin-top: 1vh;
		width: 90vw;
		height: auto;
		color: #EEEAE6;
		font-weight: 200;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.container #horizontalINTRO #vertical2 h2 {
		font-weight: 300;
		font-size: 1.7em;
	}

	.container #horizontalINTRO #vertical2 p {
		font-weight: 200;
		font-size: 1.2em;

	}

	.container #horizontalINTRO .v1 div {
		height: 60vh;
		width: 90vw;
		background-image: url(img/sobremi.gif);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}



	/* resto */
	.container #horizontal {
		width: 95vw;
		height: auto;
		padding-top: 2vh;
		padding-bottom: 2vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.container #horizontal #vertical {
		width: 90vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container #horizontal #vertical {
		width: 90vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container #horizontal #vertical2 {
		margin-bottom: 2vh;
		margin-top: 2vh;
		width: 90vw;
		height: auto;
		color: #EEEAE6;
		font-weight: 200;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.container #horizontal #vertical2 h2 {
		font-weight: 300;
		font-size: 1.7em;

	}

	.container #horizontal #vertical2 p {
		font-weight: 200;
		font-size: 1.2em;

	}

	.container #horizontal #vertical2 #software {
		height: 3vh;
		width: 90vw;
		margin-bottom: 1.5vh;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.container #horizontal #vertical2 #software #circulos {
		width: 50vw;

		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.container #horizontal #vertical2 #software #circulos div {
		border-radius: 100%;
		height: 3vh;
		width: 3vh;
	}

	.container #horizontal #vertical2 #software .illustrator .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .illustrator .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .illustrator .c3 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .illustrator .c4 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .illustrator .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .photoshop .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .photoshop .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .photoshop .c3 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .photoshop .c4 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .photoshop .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .indesing .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .indesing .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .indesing .c3 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .indesing .c4 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .indesing .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .eftereffects .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .eftereffects .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .eftereffects .c3 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .eftereffects .c4 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .eftereffects .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .axd .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .axd .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .axd .c3 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .axd .c4 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .axd .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .htmlcss .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .htmlcss .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .htmlcss .c3 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .htmlcss .c4 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .htmlcss .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .wordpress .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .wordpress .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .wordpress .c3 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .wordpress .c4 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .wordpress .c5 {
		border: 1px solid #EEEAE6;
	}
}



/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

	body,
	html {
		width: 100% !important;
		overflow-x: hidden !important;
	}

	nav {
		margin-top: 0;
		width: 6vw;
		height: 100vh;

		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	nav {
		position: fixed;
		z-index: 100;
	}

	nav #der #boton-hamburguesa {
		display: none;
	}

	nav #der #menu {
		visibility: visible;
	}

	nav #der {
		height: 100vh;
		width: 6vw;
		background-color: #1A1A1A;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-start;
		border-right: 2px solid #EEEAE6;
	}

	nav #der ul {
		visibility: visible;
		padding: 0;

		display: flex;
		flex-direction: column;
	}

	nav #der ul li {
		width: 2vw;
		height: 18vh;
		margin-bottom: 1vh;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	nav #der ul hr {
		display: none;
	}

	nav #der #logo img {
		padding-top: 40px;
		width: 4vw;
	}

	nav #der #logo img:hover {
		opacity: 50%;
		transition: 1s;
	}
	

	nav #der ul li a {
		color: transparent;
		width: 3vw;
		height: 18vh;
		
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 300;
		font-size: 0;
		white-space: nowrap;
		text-decoration: none;
	}

	nav #der ul li:hover {
		opacity: 30%;
		transition: 1s;
	}

	nav #der .contactos {
		background-image: url(img/menuContactos.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	nav #der .proyectos {
		background-image: url(img/menuProyectos.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	nav #der .sobre {
		background-image: url(img/menuSobre.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
/*gis izquierda*/
	#contenedoriz {
		display: flex;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
	}

	#iz {
		width: 6vw;
		height: 100vh;
		position: fixed;
		z-index: 100;
		background-color: #1A1A1A;
		border-left: 2px solid #EEEAE6;
		background-image: url(img/saraTinauT.gif);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}



	/* ---- MAIN ----*/

	#titulo {
		margin-top: 2vh;
		padding-left: 15%;
		width: 100vw;
		height: 15vh;
		display: flex;
		align-items: center;
	}

	#titulo div {
		rotate: -2deg;
		background-color: #EEEAE6;
		border-radius: 30px;
		padding-left: 15px;
		padding-right: 15px;
		width: auto;
		height: 6vh;

		display: flex;
		justify-content: center;
		align-items: center;
		color: #1A1A1A;
	}

	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.container hr {
		width: 100vw;
		rotate: -2deg;
		border: 1px solid #EEEAE6;
	}

	/* INTRODUCCIÓN*/

	.container #horizontalINTRO {
		width: 88vw;
		height: auto;

		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: row;
	}

	.container #horizontalINTRO #vertical {
		width: 40vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container #horizontalINTRO #vertical {
		width: 40vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.container #horizontalINTRO #vertical2 {
		margin-bottom: 2vh;
		margin-top: 2vh;
		width: 40vw;
		height: auto;
		color: #EEEAE6;
		font-weight: 200;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.container #horizontalINTRO #vertical2 h2 {
		margin-left: 4vw;
		margin-right: 4vw;
		font-weight: 300;
		font-size: 1.7em;

	}

	.container #horizontalINTRO #vertical2 p {
		margin-left: 4vw;
		margin-right: 4vw;
		font-weight: 200;
		font-size: 1.2em;
	}

	.container #horizontalINTRO .v1 div {
		height: 60vh;
		width: 40vw;
		background-image: url(img/sobremi.gif);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}



	/* resto */
	.container #horizontal {
		width: 88vw;
		height: auto;

		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-direction: row;
	}

	.container #horizontal #vertical {
		width: 40vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container #horizontal #vertical {
		width: 40vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container #horizontal #vertical2 {
		margin-bottom: 2vh;
		margin-top: 2vh;
		width: 40vw;
		height: auto;
		color: #EEEAE6;
		font-weight: 200;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.container #horizontal #vertical2 h2 {
		margin-left: 4vw;
		margin-right: 4vw;
		font-weight: 300;
		font-size: 1.7em;
	}

	.container #horizontal #vertical2 p {
		margin-left: 4vw;
		margin-right: 4vw;
		font-weight: 200;
		font-size: 1.2em;
	}

	.container #horizontal .v1 div {
		height: 60vh;
		width: 40vw;
		background-image: url(img/sobremi.gif);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.container #horizontal #vertical2 #software {
		height: 3vh;
		width: 40vw;
		margin-bottom: 1.5vh;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.container #horizontal #vertical2 #software #circulos {
		width: 20vw;

		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.container #horizontal #vertical2 #software #circulos div {

		border-radius: 100%;
		height: 2.2vh;
		width: 2.2vh;
	}

	.container #horizontal #vertical2 #software .illustrator .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .illustrator .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .illustrator .c3 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .illustrator .c4 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .illustrator .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .photoshop .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .photoshop .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .photoshop .c3 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .photoshop .c4 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .photoshop .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .indesing .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .indesing .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .indesing .c3 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .indesing .c4 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .indesing .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .eftereffects .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .eftereffects .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .eftereffects .c3 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .eftereffects .c4 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .eftereffects .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .axd .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .axd .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .axd .c3 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .axd .c4 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .axd .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .htmlcss .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .htmlcss .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .htmlcss .c3 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .htmlcss .c4 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .htmlcss .c5 {
		border: 1px solid #EEEAE6;
	}


	.container #horizontal #vertical2 #software .wordpress .c1 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .wordpress .c2 {
		background-color: #EEEAE6;
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .wordpress .c3 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .wordpress .c4 {
		border: 1px solid #EEEAE6;
	}

	.container #horizontal #vertical2 #software .wordpress .c5 {
		border: 1px solid #EEEAE6;
	}

}