body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	position: relative;
	background-color: #1A1A1A;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5em
}



/* For mobile phones: */
@media only screen and (max-width: 992px) {

	body,
	html {
		width: 100% !important;
		overflow-x: hidden !important;
	}

	nav {
		margin: 0;
		width: 100vw;
		height: 5vh;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}

	nav {
		position: fixed;
		z-index: 100;
	}

	nav #der {
		background-color: #1A1A1A;
		height: 5vh;
		width: 100vw;
		border-bottom: 1px solid #EEEAE6;
		padding-left: 5vw;
		padding-right: 5vw;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	nav #der #logo img {
		margin-top: 0.5vh;
		height: 3vh;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	nav #der ul {
		display: none;
		position: absolute;
		top: 5vh;
		right: 0;
		list-style: none;
		background-color: #1A1A1A;
		width: 100vw;
		height: 100vh;
	}

	nav #der ul hr {
		rotate: -2deg;
		color: #EEEAE6;
	}

	nav #der ul li {
		padding: 50px;
	}

	nav #der ul li a {
		color: #EEEAE6;
		text-decoration: none;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 300;
		font-size: 2em;
	}

	nav #der #boton-hamburguesa {
		background-color: #1A1A1A;
		color: #EEEAE6;
		font-size: 1em;
		padding: 2px;
		border: none;
		cursor: pointer;
	}

	/* gif abajo*/

	#contenedoriz {
		width: 100vw;
		height: 5vh;
		position: absolute;
		top: 95%;
	}

	#contenedoriz #iz {
		border-top: 1px solid #EEEAE6;
		width: 100vw;
		height: 5vh;
		background-color: #1A1A1A;
		background-image: url(img/saraTinauT2.gif);
		position: fixed;
		z-index: 100;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}



	/* ---- MAIN ----*/

	#titulo {
		margin-top: 2vh;
		padding-left: 10%;
		width: 100vw;
		height: 15vh;
		display: flex;
		align-items: center;
	}

	#titulo div {
		rotate: -2deg;
		background-color: #EEEAE6;
		border-radius: 30px;
		padding-left: 15px;
		padding-right: 15px;
		width: auto;
		height: 6vh;

		display: flex;
		justify-content: center;
		align-items: center;
		color: #1A1A1A;
	}

	/* FLEHAS*/

	#flechas {

		width: 5vw;
		height: 5vw;
		position: absolute;
		top: 90%;
		left: 7.5%;

		display: flex;
	}

	#flechas2 {

		width: 5vw;
		height: 5vw;
		position: absolute;
		top: 90%;
		right: 7.5%;

		display: flex;
	}


	#flechas #flechaI a {
		position: fixed;
		z-index: 100;
		border-radius: 50px;
		box-shadow: -3px 3px 10px rgba(26,26,26,0.2);
		width: 5vw;
		height: 5vw;
		background-image: url(img/flechaI.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	#flechas #flechaI a:hover {
		position: fixed;
		z-index: 100;

		width: 5vw;
		height: 5vw;
		background-image: url(img/flechai2.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	#flechas2 #flechaD a {
		position: fixed;
		z-index: 100;
		border-radius: 50px;
		box-shadow: 3px 3px 10px rgba(26,26,26,0.2);
		width: 5vw;
		height: 5vw;
		background-image: url(img/felchaD.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	#flechas2 #flechaD a:hover {
		position: fixed;
		z-index: 100;

		width: 5vw;
		height: 5vw;
		background-image: url(img/flechad2.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
		margin-bottom: 7vh;
	}

	.container hr {
		width: 100vw;
		rotate: -2deg;
		border: 1px solid #EEEAE6;
	}

	/* INTRODUCCIÓN*/

	.container #horizontalINTRO {

		width: 85vw;
		height: auto;

		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
		;
	}

	.container #horizontalINTRO #vertical {

		width: 85vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	.container #horizontalINTRO #vertical {

		width: 95vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.container #horizontalINTRO #vertical2 {
		margin-bottom: 2vh;
		margin-top: 2vh;

		width: 85vw;
		height: auto;
		color: #EEEAE6;
		font-weight: 200;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.container #horizontalINTRO #vertical2 h2 {
		font-weight: 300;
		font-size: 1.7em;

	}

	.container #horizontalINTRO #vertical2 p {
		font-weight: 200;
		font-size: 1.2em;
		padding-top: 2vh;
		padding-bottom: 2vh;
	}

	.container #horizontalINTRO .v1 div {
		height: 60vh;
		width: 80vw;
		background-image: url(img/intro.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.container #horizontalINTRO .v2 div {
		height: 60vh;
		width: 90vw;
		background-image: url(img/delante.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}



	/* resto */

	.container #horizontal {

		width: 110vw;
		height: 60vh;

		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-direction: row;
	}

	
	.container #horizontal2 {

		width: 110vw;
		height: 30vh;

		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-direction: row;
	}

	/*imagees horizontales*/
	.container #horizontal #vertical3 {
		rotate: -2deg;
		width: 110vw;
		height: 60vh;
		color: #EEEAE6;
		font-weight: 200;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	.container #horizontal2 #vertical3 {
		rotate: -2deg;
		width: 110vw;
		height: 30vh;
		color: #EEEAE6;
		font-weight: 200;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	.container #horizontal .foto1 {
		background-image: url(img/logoanima.gif);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.container #horizontal2 .foto2 {
		background-image: url(img/patron2.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.container #horizontal .foto3 {
		background-image: url(img/protesta.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.container #horizontal2 .foto4 {
		background-image: url(img/variantes2.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.container #horizontal .foto5 {
		background-image: url(img/banner.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.container #horizontal .foto6 {
		background-image: url(img/carteles.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}



/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

	body,
	html {
		width: 100% !important;
		overflow-x: hidden !important;
	}

	nav {
		margin-top: 0;
		width: 6vw;
		height: 100vh;

		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	nav {
		position: fixed;
		z-index: 100;
	}

	nav #der #boton-hamburguesa {
		display: none;
	}

	nav #der #menu {
		visibility: visible;
	}

	nav #der {
		height: 100vh;
		width: 6vw;
		background-color: #1A1A1A;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-start;
		border-right: 1px solid #EEEAE6;
	}

	nav #der ul {
		visibility: visible;
		padding: 0;

		display: flex;
		flex-direction: column;
	}

	nav #der ul li {
		width: 2vw;
		height: 18vh;
		margin-bottom: 1vh;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	nav #der ul hr {
		display: none;
	}

	nav #der #logo img {
		padding-top: 40px;
		width: 4vw;
	}

	nav #der #logo img:hover {
		opacity: 50%;
		transition: 1s;
	}


	nav #der ul li a {
		color: transparent;
		width: 3vw;
		height: 18vh;

		font-family: 'Josefin Sans', sans-serif;
		font-weight: 300;
		font-size: 0;
		white-space: nowrap;
		text-decoration: none;
	}

	nav #der ul li:hover {
		opacity: 30%;
		transition: 1s;
	}

	nav #der .contactos {
		background-image: url(img/menuContactos.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	nav #der .proyectos {
		background-image: url(img/menuProyectos.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	nav #der .sobre {
		background-image: url(img/menuSobre.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	/*gis izquierda*/
	#contenedoriz {
		display: flex;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
	}

	#iz {
		width: 6vw;
		height: 100vh;
		position: fixed;
		z-index: 100;
		background-color: #1A1A1A;
		border-left: 1px solid #EEEAE6;
		background-image: url(img/saraTinauT.gif);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}



	/* ---- MAIN ----*/

	#titulo {
		margin-top: 2vh;
		padding-left: 15%;
		width: 100vw;
		height: 15vh;
		display: flex;
		align-items: center;
		
	}

	#titulo div {
		rotate: -2deg;
		border: 1px solid #EEEAE6;
		border-radius: 30px;
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
		height: 7vh;


		display: flex;
		justify-content: center;
		align-items: center;
		color: #EEEAE6;
	}


	/* FLEHAS*/

	#flechas {

		width: 3vw;
		height: 3vw;
		position: absolute;
		top: 92%;
		left: 7.5%;

		display: flex;
	}

	#flechas2 {

		width: 3vw;
		height: 3vw;
		position: absolute;
		top: 92%;
		right: 7.5%;

		display: flex;
	}


	#flechas #flechaI a {
		position: fixed;
		z-index: 100;
		border-radius: 50px;
		box-shadow: -3px 3px 10px rgba(26,26,26,0.2);
		width: 3vw;
		height: 3vw;
		background-image: url(img/flechaI.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	#flechas #flechaI a:hover {
		position: fixed;
		z-index: 100;

		width: 3vw;
		height: 3vw;
		background-image: url(img/flechai2.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	#flechas2 #flechaD a {
		position: fixed;
		z-index: 100;
		border-radius: 50px;
		box-shadow: 3px 3px 10px rgba(26,26,26,0.2);
		width: 3vw;
		height: 3vw;
		background-image: url(img/felchaD.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	#flechas2 #flechaD a:hover {
		position: fixed;
		z-index: 100;

		width: 3vw;
		height: 3vw;
		background-image: url(img/flechad2.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}






	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.container hr {
		width: 100vw;
		rotate: -2deg;
		border: 1px solid #EEEAE6;
	}

	/* INTRODUCCIÓN*/

	.container #horizontalINTRO {

		width: 88vw;
		height: auto;

		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: row;
	}

	.container #horizontalINTRO #vertical {

		width: 40vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container #horizontalINTRO #vertical {

		width: 40vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.container #horizontalINTRO #vertical2 {
		margin-bottom: 2vh;
		margin-top: 2vh;

		width: 40vw;
		height: auto;
		color: #EEEAE6;
		font-weight: 200;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.container #horizontalINTRO #vertical2 h2 {
		margin-left: 5vw;
		margin-right: 5vw;
		font-weight: 300;
		font-size: 1.7em;

	}

	.container #horizontalINTRO #vertical2 p {
		margin-left: 5vw;
		margin-right: 5vw;
		font-weight: 200;
		font-size: 1.2em;
	}

	.container #horizontalINTRO .v1 div {
		height: 60vh;
		width: 40vw;
		background-image: url(img/intro.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	/* resto */
	.container #horizontal {

		width: 100vw;
		height: 90vh;

		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-direction: row;
	}

	.container #horizontal2 {

		width: 100vw;
		height: 40vh;

		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-direction: row;
	}

	.container #horizontal #vertical {

		width: 40vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container #horizontal #vertical {

		width: 40vw;
		height: auto;
		margin-bottom: 2vh;
		margin-top: 2vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container #horizontal #vertical2 {
		margin-bottom: 2vh;
		margin-top: 2vh;

		width: 40vw;
		height: auto;
		color: #EEEAE6;
		font-weight: 200;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.container #horizontal #vertical2 h2 {
		margin-left: 4vw;
		margin-right: 4vw;
		font-weight: 300;
		font-size: 1.7em;
	}

	.container #horizontal #vertical2 p {
		margin-left: 4vw;
		margin-right: 4vw;
		font-weight: 200;
		font-size: 1.2em;
	}

	/*imagees horizontales*/
	.container #horizontal #vertical3 {
		rotate: -2deg;
		width: 100vw;
		height: 90vh;
		color: #EEEAE6;
		font-weight: 200;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	.container #horizontal2 #vertical3 {
		rotate: -2deg;
		width: 100vw;
		height: 40vh;
		color: #EEEAE6;
		font-weight: 200;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	.container #horizontal .foto1 {
		background-image: url(img/logoanima.gif);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.container #horizontal2 .foto2 {
		background-image: url(img/patron.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.container #horizontal .foto3 {
		background-image: url(img/protesta.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.container #horizontal2 .foto4 {
		background-image: url(img/variantes.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.container #horizontal .foto5 {
		background-image: url(img/banner.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.container #horizontal .foto6 {
		background-image: url(img/carteles.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}



}